[submodule "libraries/spyral"]
	path = libraries/spyral
	url = git://github.com/rdeaton/spyral.git
[submodule "libraries/sugargame"]
	path = libraries/sugargame
	url = gitorious@git.sugarlabs.org:~rdeaton/sugargame/rdeatons-mainline.git
